<div class="comments-area inner">
	<h3 class="comments-title">View Comments</h3>
	<div id="disqus_thread"></div>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus</a>.</noscript>
</div><!-- .comments-area -->
