<div class="footer-widgets">
	<div class="inner-wide">
		<div class="widget-area">
			<div class="footer-col first">
				<aside class="widget widget-recent-posts">
					<h2 class="widget-title">Latest Posts</h2>
					<div class="recent-posts"></div>
				</aside><!-- .widget -->
			</div>
			<div class="footer-col middle">
				<aside class="widget widget-instagram">
					<h2 class="widget-title">{{@blog.title}} on @instagram</h2>
					<div id="instafeed" class="instagram-feed"></div>
				</aside><!-- .widget -->
			</div>
			<div class="footer-col last">
				<aside class="widget widget-tags">
					<h2 class="widget-title">Tags</h2>
					<div class="tagcloud"></div>
				</aside><!-- .widget -->
			</div>
		</div><!-- .widget-area -->
	</div><!-- .inner-wide -->
</div><!-- .footer-widgets -->

<footer class="site-footer">
	<div class="footer-top">
		<div class="inner-wide">
			<div class="offsite-links">
				<a href="http://www.twitter.com/{{! Add Twitter handle }}" class="icon-twitter"><span class="screen-reader-text">Twitter</span></a>
				<a href="https://www.facebook.com/{{! Add Facebook handle }}" class="icon-facebook"><span class="screen-reader-text">Facebook</span></a> 
				<a href="https://plus.google.com/{{! Add Google+ handle }}" class="icon-google"><span class="screen-reader-text">Google+</span></a>
				<a href="https://www.linkedin.com/{{! Add Linkedin handle }}" class="icon-linkedin"><span class="screen-reader-text">Linkedin</span></a>
				<a href="https://github.com/{{! Add GitHub handle }}" class="icon-github"><span class="screen-reader-text">GitHub</span></a>
				<a href="http://codepen.io/{{! Add CodePen handle }}" class="icon-codepen"><span class="screen-reader-text">CodePen</span></a>
				<a href="https://dribbble.com/{{! Add Dribbble handle }}" class="icon-dribbble"><span class="screen-reader-text">Dribbble</span></a>
				<a href="https://www.behance.net/{{! Add Behance handle }}" class="icon-behance"><span class="screen-reader-text">Behance</span></a>
				<a href="https://medium.com/{{! Add Medium handle }}" class="icon-medium"><span class="screen-reader-text">Medium</span></a>
				<a href="http://instagram.com/{{! Add Instagram handle }}" class="icon-instagram"><span class="screen-reader-text">Instagram</span></a>
				<a href="http://www.pinterest.com/{{! Add Pinterest handle }}" class="icon-pinterest"><span class="screen-reader-text">Pinterest</span></a>
				<a href="https://vine.co/{{! Add Vine handle }}" class="icon-vine"><span class="screen-reader-text">Vine</span></a>
				<a href="https://www.vimeo.com/{{! Add Vimeo handle }}" class="icon-vimeo"><span class="screen-reader-text">Vimeo</span></a>
				<a href="https://www.youtube.com/user/{{! Add YouTube handle }}" class="icon-youtube"><span class="screen-reader-text">YouTube</span></a>
				<a href="{{@blog.url}}/rss/" class="icon-feed"><span class="screen-reader-text">RSS</span></a>
			</div><!-- .offsite-links -->
			<a href="#page" class="top-link square icon-chevron-up" title="Back to Top"><span class="screen-reader-text">Back to the top</span></a>
		</div><!-- .inner -->
	</div><!-- .footer-top -->
	<div class="site-info inner-wide">
		<p>&copy; <a href="/">{{@blog.title}}</a> all rights reserved. <br />Powered by <a target="_blank" href="http://www.ghost.org">Ghost</a>. Curious theme by <a target="_blank" href="http://justgoodthemes.com/">JustGoodThemes</a></p>		
	</div><!-- .site-info -->
</footer><!-- .site-footer -->
