<nav class="pagination" role="navigation">
	{{#if prev}}
	<a class="newer-posts square dark icon-chevron-left" href="{{page_url prev}}"><span class="screen-reader-text">Newer Posts</span></a>
	{{/if}}
	<span class="page-number">Page {{page}} of {{pages}}</span>
	{{#if next}}
	<a class="older-posts square dark icon-chevron-right" href="{{page_url next}}"><span class="screen-reader-text">Older Posts</span></a>
	{{/if}}
</nav>
