<div class="sidebar">
	<div class="sidebar-scrollable">
		<div class="widget-area">
			{{#if @blog.navigation}}
				{{navigation}}
			{{/if}}
			<aside class="widget widget-text">
				<h2 class="widget-title">About {{@blog.title}}</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed lacus id tortor iaculis iaculis dignissim eget justo. Maecenas posuere eros nisl, ut pharetra turpis faucibus a. In imperdiet urna mattis lacus mollis, sit amet pulvinar purus vehicula.</p>
			</aside><!-- .widget -->
			<aside class="widget widget-newsletter">
				<h2 class="widget-title">{{@blog.title}} Newsletter</h2>
				<p>Enter your email address to subscribe to this blog and receive notifications of new posts by email.</p>
				<!-- Begin MailChimp Signup Form -->
				<div id="mc_embed_signup">
					<form action="{{! Add your form action URL }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<div id="mc_embed_signup_scroll">
							<label for="mce-EMAIL" class="screen-reader-text">Email Address</label>
							<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
							<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
						</div>
					</form>
				</div>
				<!--End mc_embed_signup-->
			</aside><!-- .widget -->
			<aside class="widget widget-text">
				<h2 class="widget-title">Contact</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed lacus id tortor iaculis iaculis dignissim eget justo. Maecenas posuere eros nisl, ut pharetra turpis faucibus a. In imperdiet urna mattis lacus mollis, sit amet pulvinar purus vehicula.</p>
				<ul class="contacts">
					<li><span class="icon icon-envelope" aria-hidden="true"></span> blogin [at] gmail.com</li>
					<li><span class="icon icon-map-marker" aria-hidden="true"></span> 123 Some Street, Some City, AA 12345</li>
					<li><span class="icon icon-phone" aria-hidden="true"></span> +123 112 23445</li>
				</ul>
			</aside><!-- .widget -->
		</div><!-- .widget-area -->
		<a class="sidebar-toggle"><span class="screen-reader-text">Close Sidebar</span><span class="icon" aria-hidden="true"></span></a>
	</div><!-- .sidebar-scrollable -->
</div><!-- .sidebar -->
