{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The main content area on the homepage }}
<main class="site-main" role="main">
	<div class="site-content inner-wide">

		<div class="cover hero">
			{{#if @blog.cover}}
			<div class="cover-bg" style="background-image: url({{@blog.cover}})"></div>
			{{/if}}
			<div class="cover-content">
				<div class="inner">
					<div class="hero-wrap">
						<h2 class="hero-title fade-in">{{@blog.title}}</h2>
						<p class="hero-text fade-in">{{@blog.description}}</p>
						<p class="subscribe"><a href="{{@blog.url}}/rss/" class="button light fade-in">Subscribe</a></p>
					</div>					
				</div><!-- .inner -->
			</div><!-- .cover-content -->
		</div><!-- .cover -->
		
		{{! The tag below includes the post loop - partials/loop.hbs }}
		{{> "loop"}}
		
	</div><!-- .site-content -->
</main><!-- .site-main -->
